<h2 class="section-title">{{ .titles.about }}</h2>
<p>Robots are increasingly expected to operate in unstructured and dynamic environments. In such environments, robots must be capable of performing complex and diverse tasks, which places new demands on robustness and interpretability of robot perception.</p>
<p>In this workshop, we aim at examining the state of the art in robot perception and discuss what is still missing for achieving these properties for rigorous robot perception. We will discuss how perception in modular pipelines and in end-to-end learning approaches, e.g., using foundation models such as VLMs or VLAs, can support robustness and interpretability. The intended workshop scope is not limited to visual perception, instead we want to also explore how different modalities (e.g. tactile perception) can contribute to answering above questions. Lastly, in the workshop, we will ask how robustness and interpretability can be assessed for robot systems.</p>
<p>By invited talks, roundtable discussions, and spotlight/poster presentations of contributed extended abstracts, the workshop provides an opportunity to identify open challenges, assess the promises and limitations of current approaches, and chart new directions for achieving robust and interpretable perception in robotics.</p>
<div>
    <!-- <video width="480" height="270" loop autoplay controls style="display: block; margin: 0 auto; border: 3px solid; border-color: rgb(120, 88, 144);">
         <source src="video/thank_you.mp4" type="video/mp4">
         </video> -->
    <br/>
    <br/>
</div>
