<h2 class="section-title">{{ .Titles.papers }}</h2>
<p style=margin-bottom:0.5em>The accepted papers are listed below. After the final version has been submitted, the pdf will appear here as well.</p>

{{ range $slot := .schedule }}
{{ if ne .presentation nil }}
{{ if and (ne .spotlight nil) .papersList }}
{{ if and (ne .spotlight nil) .papersList }}
{{range .spotlight.titles}}
<div style="display:flex; align-items:center; margin-bottom:0.8em;">
    <div style="flex-shrink:0; width:2em; text-align:center; font-size:1.8em;">
        {{ if .url }}<a href="{{ .url }}" target="_blank"><img class="pdf-download-icon" src="/img/file-pdf-solid.svg" alt="Download PDF"/></a>{{ end }}
    </div>
    <p style="margin:0;"><b>{{ .title }}</b><br>{{ .authors }}</p>
</div>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{ partial "submission.html" . }}
