<h2 class="section-title">{{ .Titles.papers }}</h2>
<p style=margin-bottom:0.5em>The accepted papers are listed below. After the final version has been submitted, the pdf will appear here as well.</p>

{{ range $slot := .schedule }}
{{ if ne .presentation nil }}
{{ if ne .spotlight nil }}
{{ if ne .spotlight nil }}
{{range .spotlight.titles}}
<p style=margin-bottom:0.8em>
    <b>{{ .title }}</b><br>
    {{ .authors }}</p>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{ partial "submission.html" . }}
